.DS_Store
playbooks/.DS_Store
#
#  log file created with logger option enabled, ignore
#
playbooks/pangea_sdk_logs.json
#
.env/*
!.env/README.md
#
collections/ansible_collections/netcraftsmen/pangea/plugins/module_utils/__pycache__/
collections/ansible_collections/blueally/pangea/plugins/module_utils/__pycache__/
#
# Ignore files unless specifically exempted
#
playbooks/files/*